exportPattern("^[[:alpha:]]+")

importFrom("stats", "na.omit")
importFrom("utils", "data", "read.csv", "read.table", "setWinProgressBar", "winProgressBar")
importFrom("ape", "drop.tip", "branching.times")
importFrom("taxize", "apg_lookup")
importFrom("stringdist", "amatch")
importFrom("phytools", "bind.tip", "fastMRCA")
importFrom("Hmisc", "capitalize")
importFrom("stringr", "str_trim", "str_detect")